* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

a, a:link, a:visited {
  text-decoration: none; }

li {
  list-style: none; }

img {
  border: none;
  outline: none; }

.container-hor {
  display: grid;
  justify-content: center;
  grid-template-columns: 370px 500px;
  grid-template-rows: 30px 340px 64px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  margin-bottom: 60px; }
  .container-hor .button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 150px;
    grid-column-gap: 10px; }
    .container-hor .button-container .set-as-button {
      width: 180px; }
    .container-hor .button-container .generate-button {
      width: 180px; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.box-title {
  color: #5E85A4;
  font-weight: 450;
  text-align: center;
  font-size: 1.3rem;
  font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.5px;
  align-self: self-end; }

.container {
  height: 300px;
  padding: 0;
  border: 1.5px solid #8D9FAD;
  grid-row: 2; }

.image-list {
  height: 340px; }

.img-container {
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.img-cont-row {
  flex-direction: row; }

.img-cont-col {
  flex-direction: column; }

h1 {
  font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  text-align: center;
  padding: 1rem 0 0.5rem 0; }

h3 {
  font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: lightgray;
  text-align: center;
  text-decoration-line: underline;
  font-weight: 200;
  padding: 0 0 0.2rem 0; }

#target {
  border: 3px dashed #c7cacc;
  height: 150px;
  width: 540px;
  margin: 50px auto; }
  #target p {
    text-align: center;
    color: lightgray;
    font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.popped-out {
  background-color: #e7f4ff;
  transform: scale(1.02, 1.02);
  box-shadow: 0px 2px 4px 0px #b3b3b3; }

.target-div {
  transition: background-color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, box-shadow cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }

#listica {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none; }
  #listica .list-item {
    text-decoration: none;
    font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 9px 7px 9px 7px;
    font-weight: 250;
    color: #999999; }
  #listica .list-item-selected {
    background-color: #64a5ea;
    color: white; }

.edit-panel-container {
  display: grid;
  grid-template-columns: 30px 180px 30px 25px 30px 180px 30px;
  grid-template-rows: 18px 28px 15px 48px;
  justify-content: center;
  align-self: self-end;
  justify-items: center;
  align-items: center; }
  .edit-panel-container .crop-set-button {
    grid-column-start: 3;
    grid-column-end: span 3; }
  .edit-panel-container p, .edit-panel-container .slider-button {
    font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: -moz-apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    color: #8D9FAD;
    font-weight: 100; }
  .edit-panel-container .slider-button {
    font-size: 1.2rem; }

.first-col {
  grid-column: 1; }

.second-col {
  grid-column: 2; }

.third-col {
  grid-column: 3; }

.fourth-col {
  grid-column: 4; }

.fifth-col {
  grid-column: 5; }

.sixth-col {
  grid-column: 6; }

.seventh-col {
  grid-column: 7; }

.first-row {
  grid-row: 1; }

.second-row {
  grid-row: 2; }

.third-row {
  grid-row: 3; }

.fourth-row {
  grid-row: 4; }

.fifth-row {
  grid-row: 5; }

.sixth-row {
  grid-row: 6; }

.seventh-row {
  grid-row: 7; }

.just-right {
  justify-self: right; }

.just-left {
  justify-self: left; }

.just-center {
  justify-self: center; }

.align-center {
  align-self: center; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */ }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #DFDFDF;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 10px; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #8D9FAD;
  /* Green background */
  border-radius: 50%;
  cursor: pointer;
  /* Cursor on hover */ }

.slider::-moz-range-thumb {
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #8D9FAD;
  /* Green background */
  border-radius: 50%;
  cursor: pointer;
  /* Cursor on hover */ }

.partition-line {
  width: 880px;
  margin: 20px auto 20px auto;
  border: 1px solid #e9e9ea; }

.wrapper-1 {
  width: 500px;
  height: 300px;
  margin: 0px auto;
  background-color: #ececec;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .wrapper-1 .wrapper-2 {
    width: 500px;
    height: 300px;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1; }

.img-cropper-rect-frame {
  width: 200px;
  height: 200px;
  z-index: 5;
  position: absolute;
  left: 150px;
  top: 50px; }

.img-cropper-rect-frame::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #8D9FAD;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.15);
  content: '';
  pointer-events: none; }

/*/ --------- Styles from Fastenable's css --------- /*/
.btn-wpr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; }

.txt {
  color: green;
  background-color: yellow;
  width: 50%;
  text-align: center; }

.btn {
  text-decoration: none;
  border-radius: 0.2rem;
  color: white;
  background-color: rgba(117, 140, 158, 0.75);
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px #b3b3b3;
  box-shadow: 0px 2px 4px 0px #b3b3b3;
  padding: 0 0 0 55px;
  position: relative; }
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    top: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    right: 0.1em;
    border-radius: 0.2rem; }
  .btn::before {
    transform: scale(0, 1);
    transition: transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, border-bottom 0.5s, border-top 0.5s; }
  .btn::after {
    transform: scale(1, 0);
    transition: transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, border-left 0.5s, border-right 0.5s; }
  .btn:hover::before {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transform: scale(1, 1); }
  .btn:hover::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 1); }

.btn2 {
  text-decoration: none;
  border-radius: 0.2rem;
  color: white;
  background-color: rgba(117, 140, 158, 0.75);
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  font-family: ubuntu;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px #b3b3b3;
  box-shadow: 0px 2px 4px 0px #b3b3b3;
  padding: 0 0 0 0px;
  position: relative;
  border: none;
  transition: width cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, padding-left cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, background-color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, border cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, font-weight cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }
  .btn2::before {
    /*, &::after {*/
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    width: 0;
    border: 1px solid rgba(117, 140, 158, 0.75);
    opacity: 0;
    transition: width cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity 0.5s, padding-left 0.5s; }
  .btn2:hover::before {
    width: 45px;
    opacity: 1; }
  .btn2:hover {
    padding-left: 60px;
    font-weight: 200;
    color: rgba(117, 140, 158, 0.75);
    background-color: white;
    border: 2px solid rgba(117, 140, 158, 0.75); }
  .btn2::after {
    content: '';
    position: absolute;
    left: 45px;
    top: 38%;
    border-radius: 50%;
    border: 7px solid rgba(117, 140, 158, 0.75);
    opacity: 0;
    transform: scale(0);
    transition: transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }
  .btn2:hover::after {
    opacity: 1;
    transform: scale(1); }

.btn-invert {
  text-decoration: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #8D9FAD;
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  font-family: ubuntu;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px #b3b3b3;
  box-shadow: 0px 2px 4px 0px #b3b3b3;
  padding: 0 0 0 0px;
  position: relative;
  border: 1px solid #97a9b6;
  transition: width cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, padding-left cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, background-color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, border cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, font-weight cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }
  .btn-invert::before {
    /*, &::after {*/
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -1px;
    width: 0;
    border: 0.6px solid #97a9b6;
    opacity: 0;
    transition: width cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity 0.5s, padding-left 0.5s; }
  .btn-invert:hover::before {
    width: 35px;
    opacity: 1; }
  .btn-invert:hover {
    padding-left: 39px;
    font-weight: 200;
    color: rgba(117, 140, 158, 0.75);
    background-color: white;
    border: 1px solid rgba(117, 140, 158, 0.75); }
  .btn-invert::after {
    content: '';
    position: absolute;
    left: 29px;
    top: 39.5%;
    border-radius: 50%;
    /*border: 4px solid $blue_navbar_no_transp;*/
    opacity: 0;
    transform: scale(0);
    transition: transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }
  .btn-invert:hover::after {
    opacity: 1;
    transform: scale(1); }

.btn-invert-disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  border-radius: 0.2rem;
  color: #F4F4F4;
  background-color: #E5E5E5;
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  font-family: ubuntu;
  justify-content: center;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px #b3b3b3;
  box-shadow: 0px 2px 4px 0px #b3b3b3;
  padding: 0 0 0 0px;
  position: relative;
  border: 1px solid #E5E5E5;
  transition: width cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, padding-left cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, background-color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, color cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, border cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s, font-weight cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.5s; }

.btn-md {
  width: 220px;
  height: 60px;
  font-size: 2.2rem; }

.btn-sm {
  width: 190px;
  height: 52px;
  font-size: 1.3rem; }

.btn-xsm {
  width: 150px;
  height: 45px;
  font-size: 1rem; }

.btn-xxsm {
  width: 200px;
  height: 30px;
  font-size: 0.85rem; }

.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none; }

.micro-button {
  height: 20px;
  float: right;
  opacity: .8;
  transition: transform cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.2s, opacity cubic-bezier(0.59, 0.17, 0.22, 0.92) 0.2s;
  margin-right: 3px; }

.micro-button:hover {
  opacity: 1;
  transform: scale(1.05, 1.05); }

/*/  Draggable element from W3 Schools  /*/
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #2196F3;
  border: 1px solid #d3d3d3;
  text-align: center;
  cursor: move;
  width: 250px;
  height: 250px;
  display: grid; }
  #mydiv img {
    width: 100%; }

#display-img {
  position: absolute;
  z-index: 11;
  background-color: #2196F3;
  border: 1px solid #d3d3d3;
  text-align: center;
  cursor: move;
  display: grid; }
  #display-img img {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
